body {
    background: linear-gradient(to right, #859beb, #d7dcfa);
    font-family: "Roboto", sans-serif;
}

a {
    color: #415CEC;
}

.panel {
    background-color: rgba(255, 255, 255, 0.183);
    border: 2px solid rgba(255, 255, 255, 0.413);
    border-radius: 24px;
    box-shadow: 0px 30px 50px #6383e3a5;
    margin: 45px auto;
    max-width: 600px;
    padding: 30px;
}

header {
    border-bottom: 1px solid #f9f7fe85;
    padding: 0 0 30px 0;
}

.search-bar {
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #4d68f15a;
    font-size: 16px;
    padding: 15px 20px;
    transition: all 200ms ease-in-out;
    width: 80%;
}

.search-bar:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.search-button {
    background: linear-gradient(to right, #344BE3, #4D6DF4);
    border: none;
    border-radius: 12px;
    box-shadow: 3px 3px 6px #4d68f19d;
    color: white;
    font-size: 16px;
    margin-left: 5px;
    padding: 15px 30px;
    transition: all 200ms ease-in-out;
}

.search-button:hover {
    cursor: pointer;
    transform: scale(1.06);
}

main {
    background-color: #ffffff8e;
    border: 2px solid rgba(255, 255, 255, 0.413);
    border-radius: 30px;
    box-shadow: 0px 10px 20px #6383e377;
    margin: 30px 0;
    margin-bottom: 0px;
    max-width: 800px;
    padding: 30px 0px;
}

.weather-heading {
    display: flex;
    justify-content: space-between;
}

.city-heading {
    background-image: linear-gradient(to right, #35348C, #6f71bb);
    color: transparent;
    background-clip: text;
    font-size: 52px;
    font-weight: 700;
    margin: 0;
    margin-left: 30px;
    margin-top: 0px;
}

.city-details {
    color: #6E85FE;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 30px;
}

.weather-heading-temp {
    display: flex;
}

.heading-icon {
    height: 88px;
    width: 88px;
}

.heading-temperature {
    background-image: linear-gradient(to right, #4B4BE9, #6B86F6);
    color: transparent;
    background-clip: text;
    font-size: 88px;
    font-weight: 500;
    line-height: 88px;
    margin-left: 10px;
    margin-top: 0px;
}

.heading-unit {
    color: #6C83F9;
    font-size: 28px;
    margin-top: 0px;
    margin-right: 30px;
}

.weather-specs {
    background-color: white;
    border-radius: 60px;
    box-shadow: 0px 5px 10px #b1b9fdb3;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-around;
    margin: 0 auto;
    padding: 18px 25px;
    text-align: center;
    transition: all 300ms ease-in-out;
    width: 250px;
}

.weather-specs:hover {
    transform: scale(1.06);
}

.specs-humidity {
    color: #6E85FE;
}

.specs-humidity span {
    color: #35348C;
}

.specs-windspeed {
    color: #6E85FE;
}

.specs-windspeed span {
    color: #35348C;
}

.weather-forecast-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 10px;
}

.weather-forecast-day {
    background: linear-gradient(to bottom, #6072F2, #494BE7);
    border-radius: 15px;
    box-shadow: 5px 5px 20px #494ce784;
    padding: 20px 10px;
    margin-top: 20px;
}

.weather-forecast-day-alt {
    background-color: #ffffff8f;
    border: 2px solid rgba(255, 255, 255, 0.413);
    border-radius: 15px;
    box-shadow: 5px 5px 20px #494ce753;
    padding: 20px 10px;
    margin-top: 20px;
}

.weather-forecast-date {
    color: white;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.weather-forecast-date-alt {
    color: #545CED;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.weather-forecast-icon {
    font-size: 38px;
    text-align: center;
}

.weather-forecast-icon-alt {
    font-size: 38px;
    text-align: center;
}

.weather-forecast-temperature {
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.weather-forecast-temperature-alt {
    color: #545CED;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.weather-forecast-temperature-first {
    font-weight: 500;
    padding: 0 10px;
}

.weather-forecast-temperature-first-alt {
    font-weight: 500;
    padding: 0 10px;
}

.weather-forecast-temperature-second {
    color: #d4daf9;
    padding: 0 10px;
}

.weather-forecast-temperature-second-alt {
    color: #797ff5;
    padding: 0 10px;
}

footer {
    border-top: 1px solid #5f6ef47d;
    color: #000000a8;
    font-size: 18px;
    padding: 30px 0 0 0;
    text-align: center;
}